

<div *ngIf="co" class="example-form">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <h1>Connexion</h1>
    <br>
    <label><b>Adresse mail</b></label>
    <mat-form-field class="example-full-width">
      <input matInput  formControlName="mail" [errorStateMatcher]="matcher">
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Merci de rentrer une adresse valide
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        Une adresse mail est <strong>obligatoire</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <label><b>Mot de passe</b></label>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput  type="password" formControlName="mdp" [errorStateMatcher]="matcher">
      <mat-error *ngIf="password.hasError('required')">
        Un mot de passe est <strong>obligatoire</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <button type="submit" class="btn">Connexion</button>
    <button type="button" class="btn cancel" (click)="closeForm()">Fermer</button>
  </form>
  
</div> 