

.example-form {
  position: fixed; /* postulat de départ */
  left: 50%; /* à 50%/50% du parent référent */
  transform: translateX(-50%); /* décalage de 50% de sa propre taille */
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
  display: block;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}