<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/accueil">
    <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/e/e0/Logo_commune_de_Corbeil-Essonnes.svg/1200px-Logo_commune_de_Corbeil-Essonnes.svg.png" width="250" height="100" class="d-inline-block align-top" alt="" loading="lazy">
  </a>
  <div>
    <ul class="nav nav-pills">

      <li class="nav-item">  
        <button class="auth nav-link active" (click)="closeForm(); openFormSignIn()" *ngIf="!isUserLoggedIn">Se connecter</button>
        <app-login [co]="co"></app-login>
      </li>

      <li class="nav-item">  
        <button class="auth nav-link active" (click)="closeForm(); openFormSignIn(); deco()" *ngIf="isUserLoggedIn">Se déconnecter</button>
      </li>

      <li class="nav-item">
        <button id="SignUp" class="auth nav-link active" (click)="closeForm(); openFormSignUp()" *ngIf="!isUserLoggedIn">S'enregistrer</button>
        <app-register [ins]="ins"></app-register>
      </li>
    </ul>
  </div>
</nav>