<div *ngFor="let item of items">
  <div *ngIf="quest[0] == item[1]" class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title">{{item[2]}}  - par {{item[6]}}</h5>
          <p class="card-text"><small class="text-muted">{{item[3]| date:"dd/MM/yyyy 'à' HH:mm:ss"}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>
<div *ngFor="let item of items | paginate: { itemsPerPage: 5, currentPage: p }"  *ngIf="quest[0] == item[1]"class="card" style="width: 45%;">
      <div class="card-body">
        <h5 class="card-title">{{item[2]}}</h5>
        <p class="card-text font-italic text-right">{{item[3]| date:"dd/MM/yyyy 'à' HH:mm:ss"}}</p>
      </div>
      <app-resultat-reponses [quest]="item"></app-resultat-reponses>
    <app-ajouter-reponse [item]="item"></app-ajouter-reponse>
  </div>
<!--[className]="isActive ? 'active' : 'inactive'"-->