
        <div *ngIf="ins" class="form-popup" id="myFormSignUp">
          <form  [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-container" method="post">
            <h1>S'enregistrer</h1>

            <label for="pseudo"><b>Pseudo</b></label>
            <input formControlName="pseudo" type="text" placeholder="Entrer pseudo" name="pseudo" required>

            <label for="email"><b>Email</b></label>
            <input formControlName="mail" type="text" placeholder="Entrer email" name="email" required>

            <label for="psw"><b>Mot de passe</b></label>
            <input formControlName="mdp" type="password" placeholder="Entrer mot de passe" name="psw" required>
            
            <label for="categorie"><b>Categorie</b></label>
            <input formControlName="categorie" type="categorie" placeholder="Entrer categorie" name="categorie" required>

            <label for="psw-repeat"><b>Répéter mot de passe</b></label>
            <input type="password" placeholder="Répéter mot de passe" name="psw-repeat" required>

            <button type="submit" class="btn">S'enregistrer</button>
            <button type="button" class="btn cancel" (click)="closeForm()">Fermer</button>
          </form>
        </div> 