<button id="buttonAddCA" type="button" class="btn float-right btn-outline-info" (click)="openForm()" active>Ajouter une {{categorie}}</button>

<div *ngIf="ajout" class="example-form">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <br>
    <h3 id="title">Ajouter une {{categorie}}</h3>
    <div class="champs">
      <br>
      <label><b>Titre</b></label>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput  type="text" formControlName="titre" [errorStateMatcher]="matcher">
        <mat-error *ngIf="title.hasError('required')">
          Un titre est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="champs">
      <br>
      <label><b>Texte</b></label>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput  type="text" formControlName="texte" [errorStateMatcher]="matcher">
        <mat-error *ngIf="text.hasError('required')">
          Un texte est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <br>
    <div id="divButton">
    <button type="button" class="btn btn-primary" (click)="closeForm()">Fermer</button>
    <button type="submit" class="btn btn-outline-dark">Poster</button>
    </div>
    <br>
  </form>
</div> 

