<button id="buttonAddCA" type="button" class="btn float-right btn-outline-info" (click)="openForm()" active>Ajouter une annonce</button>

<div *ngIf="ajout" class="form-popup formulaire" id="myFormSignUp">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-container" method="post">
    <h1>Ajouter une annonce</h1>

    <label for="texte"><b>Texte</b></label>
    <input formControlName="texte" type="text" placeholder="Entrer texte" name="texte" required>

    <label for="titre"><b>Titre</b></label>
    <input formControlName="ti" type="text" placeholder="Entrer titre" name="titre" required>

    <button type="submit" class="btn" (click)="closeForm()">Poster</button>
    <button type="button" class="btn cancel" (click)="closeForm()">Fermer</button>
  </form>
</div> 

