<pagination-controls (pageChange)="p = $event"></pagination-controls>

<div *ngFor="let item of items | paginate: { itemsPerPage: 5, currentPage: p }" class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{item[1]}}  - par {{item[4]}}</h5>
        <p class="card-text"><small class="text-muted">{{item[2]| date:"dd/MM/yyyy 'à' HH:mm:ss"}}</small></p>
      </div>
      <app-resultat-reponses></app-resultat-reponses>
    </div>
  </div>
  <app-ajouter-reponse [ajout]="question"></app-ajouter-reponse>
</div>
