<mat-accordion>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <mat-expansion-panel hideToggle  *ngFor="let item of items | paginate: { itemsPerPage: 10, currentPage: p }" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item[1]}}
      </mat-panel-title>
      <mat-panel-description>
        par {{item[4]}} le {{item[2]| date:"dd/MM/yyyy 'à' HH:mm:ss"}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p><app-resultat-reponses  (resultatReponses)="initi($event)" [quest]="item"></app-resultat-reponses></p>
    
    <app-ajouter-reponse (changement)="actuali($event)" [item]="item"></app-ajouter-reponse>
  </mat-expansion-panel>
</mat-accordion>

