<pagination-controls (pageChange)="p = $event"></pagination-controls>

<p>{{resultat[0]['date']}}</p>
<div>
  <p *ngFor="let departement of resultat | paginate: { itemsPerPage: 10, currentPage: p }">{{departement.nom}} : 
    
    <br>
    décès : {{departement.nom}}, 
    reanimation : {{departement.reanimation}},
    hospitalises : {{departement.hospitalises}},
    gueris : {{departement.gueris}},
    couleur : {{departement.indicateurSynthese}},
    nouvellesHospitalisations : {{departement.nouvellesHospitalisations}},
    nouvellesReanimations : {{departement.nouvellesReanimations}}

  </p>
</div>
