
mat-panel-description
{
  margin-right:0%;
  text-align: right;
  color: darkgrey;
  display:block;
}


mat-expansion-panel
{
  border: gray solid 1px;
  margin: 10px;
}

mat-accordion
{
  margin: 10px;
}

.flex
{
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  text-align:center;
}