
.card
{
  width: 30%;
  margin: 15px;
  height: 340px;
}

.card-text
{
  height: 80%;
  overflow:auto;
}

#conteneur
{
  width:100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}