#buttonAddCA
{
  margin: 1%;
}
#title
{
  text-align: center
}

ngb-alert
{
  margin: 15px;
}

form
{
  width:90%;
}

.example-form {
  position: fixed; /* postulat de départ */
  left: 50%; /* à 50%/50% du parent référent */
  top: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  border: 3px solid #235d92;
  border-radius:10px;
  z-index: 9;
  background-color: white;
  min-width: 150px;
  max-width: 400px;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  box-shadow: 0px 0px 126px 10px rgba(57,111,204,1);
}

.example-full-width {
  width:100%;
  border-bottom:gray solid 1px; 
}

#divButton
{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.champs
{
  margin-right: 10%;
  margin-left: 10%;
}

#buttonAddCA
{
  margin: 10px;
  float: right;
}