<pagination-controls (pageChange)="p = $event"></pagination-controls>
<div id="conteneur">
  <div *ngFor="let item of items | paginate: { itemsPerPage: 5, currentPage: p }" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{item[2]}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">par {{item[6]}}</h6>
      <p class="card-text">{{item[1]}}</p>
      <p class="card-text font-italic text-right">{{item[4]| date:"dd/MM/yyyy 'à' HH:mm:ss"}}</p>
    </div>
  </div>
  
</div>